<!--Página de inicio, la que arranca directamente desde localhost:5000-->
<h1>HOME PAGE</h1>
<!--Lorem100+ intro. Permite meter un lorem ipsum de 100 palabras -->
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Magnam deserunt consequatur illo, cum libero mollitia dicta corporis dignissimos tempora quibusdam? 
    Deleniti adipisci soluta minus veritatis sit! Nulla quidem doloribus asperiores blanditiis ea ipsam 
    necessitatibus dolores recusandae mollitia dolorem corrupti sint explicabo reiciendis architecto 
    quisquam tempore deserunt eos sapiente debitis illo totam, magni quibusdam quos eligendi? 
    Iure nobis porro aut architecto, non ad accusamus possimus obcaecati, quod aperiam quisquam 
    sint ipsa sapiente velit repellendus nihil dignissimos voluptas, eaque modi repudiandae qui ab 
    enim reiciendis! Dicta ducimus eius laudantium animi a voluptatibus porro accusamus dolorem? 
    Excepturi perspiciatis laborum, iure ducimus officiis quae.</p>